/**
* Firefox CSS
*
* about:config preference:
* toolkit.legacyUserProfileCustomizations.stylesheets = true
*
* Confirmed working on v144.0, v145.0
* */

.titlebar-buttonbox-container {
  display: none !important;
  width: 0 !important;
}

.titlebar-spacer {
  display: none !important;
}

#TabsToolbar {
  padding-inline: 0.25em !important;
}

#tabs-newtab-button {
  display: none !important;
}

.tab-close-button {
  display: none !important;
}
